.input-container {

  &__text,
  &__textarea {
    display: flex;
    flex-direction: column;
    font-size: 12px;

    sup {
      color: $errorColor;
    }

  }

}

input {

  &[type='text'] {
    border-radius: $borderRadius;
    padding: 18px 25px;
    border: 1px solid $colorMidGray;
    font-size: 1rem;
  }

}
