$white: #fff;
$colorLightGray: #eff0f2;
$colorGrayShadow: #dddddd;
$colorMidLightGray: #aeaeae;
$colorMidGray: #7e8088;
$colorDarkGray: #3c3e43;
$black: #181818;

$colorPrimary01: #eff0f2;
$colorPrimary02: #dddddd;
$colorPrimary03: #aeaeae;
$colorPrimary04: #7e8088;


// ################################### //
// Specific Use Colors
// ################################### //

$fontColorLink: $colorPrimary03;
$fontColorLinkHover: #13453a;
