$white: #fff;
$colorLightGray: #eff0f2;
$colorGrayShadow: #bfc1cc;
$colorMidLightGray: #888A96;
$colorMidGray: #7e8088;
$colorDarkGray: #3c3e43;
$black: #181818;

$colorPrimary01: #ff9900;
$colorPrimary02: #44444f;
$colorPrimary03: #276e60;
$colorPrimary04: #ff5252;


// ################################### //
// Specific Use Colors
// ################################### //

$colorSogning: $colorPrimary01;
$colorSogningHover: #d08314;
$colorSociale: $colorPrimary02;
$colorSocialeHover: #2d2d34;
$colorInvitation: $colorPrimary03;
$colorInvitationHover: #1a4c41;
$colorSwips: $colorPrimary04;
$colorSwipsHover: #922e2e;


$fontColorLink: $colorPrimary03;
$fontColorLinkHover: #13453a;
