@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,500,600,700&display=swap');


$primaryFont: 'Poppins', 'sans-serif';

$fontWeightLight: 200;
$fontWeightRegular: 300;
$fontWeightMedium: 400;
$fontWeightSemiBold: 600;
$fontWeightBold: 700;

