#search {

  &__primary {
    .bs_four {

      >div {
        position: relative;

        img {
          position: absolute;
          left: 0;
          top: 0;
        }

        input {
          padding: 10px 10px 10px 45px;
        }

      }
    }
  }

  &__categories {

    details {

      .row {

        .bs_five {

          input {
            margin: 0 15px 0 0;
          }

        }

      }
    }
  }

  &__specific_search {

    details {

      .row {
        margin-bottom: 10px;

        .bs_three {

          img {
            margin-right: 15px;
          }

          input {
            min-width: 0;
            width: 120px;
            margin: 0 10px;
          }

          .dash {
            height: 2px;
            background: $black;
            width: 40px;
            margin-top: 22px;
          }

          select {
            background: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            border: 1px solid $colorLightGray;
            border-radius: 5px;
          }

          &.people {
            img {
              margin-left: 15px;
            }
          }

          &.language {
            select {
              width: 100%;
            }
          }

        }

        &.times {
          justify-content: space-between;

          img {
            width: 35px;
            height: 35px;
            align-self: center;
          }
        }

        &.radio {

          label {
            margin: 0 20px 0 10px;
          }
        }

      }

    }

  }

  &__categories,
  &__specific_search {
    details {
      margin: 30px 0 0;

      summary {
        border: 1px solid $colorGrayShadow;
        padding: 5px 15px;
      }

      .row {
        padding: 15px 15px 0;
      }

    }
  }

  input[type='submit'] {
    width: 70%;
    margin: 25px auto 50px;
    background: $colorLightGray;
    padding: 15px;
    border: 1px solid $colorGrayShadow;
    border-radius: 5px;
    transition: all .2s;

    &:hover {
      background: $colorGrayShadow;
      cursor: pointer;
      transition: all .2s;

    }
  }

}
