.results {
  border-top: 1px solid $colorMidGray;
  padding: 50px 0;

  .info {
    display: block;
  }

  .group {
    justify-content: center;
  }

  .bookmark, .tag {
    justify-content: flex-end;
  }

  .details {
    .bs_one {
      align-items: center;

      img {
        margin-right: 10px;
      }
    }
  }

}
